services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pphat-nextjs-app
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    networks:
      - webnet
    expose:
      - "3000"

  nginx:
    image: nginx:alpine
    container_name: pphat-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/ssl/pphat-first-docker.stackdev.cloud:/etc/nginx/ssl/pphat-first-docker.stackdev.cloud:ro
    depends_on:
      - app
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
